body {  font-family: Helmet, Freesans, sans-serif;
        padding: 8px;
        font-size: 14px;
        margin:10px 5px 20px 5px;
    }
#page{
    width:99%;
    margin:0px auto;
    text-align:left;
}
a { text-decoration: none; }
div { margin: 0; padding: 0; }
p.date { display: inline-block; color: #999; font-size: 12px; padding: 0; margin: 0; }
p.tag { display: inline-block; background-color: #ff9; font-size: 12px; padding: 0 2px;  margin: 0px; } 
h2 { margin: 5px 0; }
ul, li { list-style: none; line-height: 140%; margin-left: 0; padding-left: 0px; }
li { padding-bottom: 10px; }
li p { margin-top: 2px; }
input { font-size: 14px; }
input[type=search] { width: 80%; max-width: 200px; }
#pagination { position: relative; padding-top: 10px; border-top: 1px solid #999; }
#pagination .next { position: absolute; right: 0; }
#logo { width: 15%; max-width: 100px;  position: absolute; top: 1px; right: 1px;  }
.about { width: 80%; min-height: 35px; }

#fav { border-left: 1px solid #000; padding-left: 5px; } 
#favourite:hover { cursor: hand; }
#favourite, #favourite-clear { color: blue; font-size: 12px; }
#favourite-list a { display: inline-block; margin-right: 4px; padding: 1 4px 1 4px; background-color: #ff9; }
